@import "../../styles/variables";
@import "../../styles/mixins";

.products-container {
  height: auto;
  background: $color-seashell;
  padding: 34px 32px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
}

.products-container > .w-with-filter {
  width: calc(100% - 280px);
}

.products-container .labels-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 22px;

  .label {
    width: 19%;
    min-width: 210px;
  }
}

//for xl & xxl
.products-container {
  @include for-xl {
    padding-inline: 12px;

    .w-with-filter {
      width: 100%;
    }
  }

  @include for-xxl {
    .labels-container {
      gap: 6px;
    }
    .labels-container > .label {
      min-width: 183px;
      height: 37px;
      font-size: 14px;
    }
  }
}
